:root {
  --game-bg: #1d968a;
  --square-border: #b3cdcb;
  --border: 1px solid rgb(232, 224, 224);
  --border-radius: 10px;
  --primary-text: white;
  --secondary-text: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1200px) {
    font-size: 60%;
  }

  @media screen and (max-width: 980px) {
    font-size: 58%;
  }

  @media screen and (max-width: 480px) {
    font-size: 55%;
  }
}
